<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Фазои Имконот</title>
    <link rel="stylesheet" href="./static/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
      integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <header class="header">
      <div class="container">
        <div class="header__top">
          <nav class="nav">
            <div class="nav__logo">
              <h2 class="logo"><a href="#!">Фазои Имконот</a></h2>
            </div>

            <ul class="nav__list nav__list--header">
              <li><a href="#!" class="active">Главная</a></li>
              <li><a href="#!">Здравоохранение</a></li>
              <li><a href="#!">ИТ-решения</a></li>
              <li><a href="#!">Контакты</a></li>
            </ul>

            <ul class="nav__login nav__login--header">
              <li><a href="#!">Регистрация</a></li>
              <li><a href="#!" class="btn btn--login">Войти</a></li>
            </ul>

            <button type="button" class="nav__toggle">
              <div class="menu-icon-wrapper">
                <div class="menu-icon"></div>
              </div>
            </button>
          </nav>
        </div>

        <div class="header__row">
          <div class="header__content">
            <div class="header__badge">Совершенствуй мир</div>
            <h1 class="header__title">
              Специализированные услуги в сфере Здравоохранения
            </h1>
            <div class="header__text">
              <p>
                Хотите обсудить вашу идею? Свяжитесь с нами сейчас прямо сейчас!
              </p>
            </div>
            <a href="#!" class="btn btn--header">Связаться</a>
          </div>

          <div class="header__img">
            <img src="./static/img/header/header-img.svg" alt="Image" />
          </div>
        </div>
      </div>
    </header>

    <main class="">
      <section class="destinations">
        <div class="container-right">
          <div class="destinations__row">
            <div class="destinations__content">
              <h2 class="destinations__title">
                <span></span>
                Услуги
              </h2>
              <div class="destinations__text">
                <p>
                  предоставим качественное решение проблем по следующим вопросам
                </p>
              </div>
              <a href="#!" class="btn">Связаться</a>
            </div>

            <div class="destinations__slider">
              <div class="slider">
                <div class="owl-carousel">
                  <img
                    class="slider__item"
                    src="./static/img/slider/1.jpg"
                    alt="Slider item"
                  />
                  <img
                    class="slider__item"
                    src="./static/img/slider/2.jpg"
                    alt="Slider item"
                  />
                  <img
                    class="slider__item"
                    src="./static/img/slider/3.jpg"
                    alt="Slider item"
                  />
                  <img
                    class="slider__item"
                    src="./static/img/slider/4.jpg"
                    alt="Slider item"
                  />
                </div>
                <button class="slider__btn slider__btn--prev">
                  <img src="./static/img/slider/arrow-left.svg" alt="" />
                </button>
                <button class="slider__btn slider__btn--next">
                  <img src="./static/img/slider/arrow-right.svg" alt="" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="feedback">
        <div class="container">
          <h2 class="feedback__title">Свяжитесь с нами</h2>

          <div class="feedback__content">
            <div class="feedback__left-block">
              <h3 class="feedback__subtitle">
                Давайте вместе создадим классный проект!
              </h3>
              <div class="feedback__text">
                Заполните форму или свяжитесь с нами напрямую в мессенджерах:
              </div>
              <div class="feedback__messengers">
                <div class="feedback__img">
                  <img
                    src="./static/img/feedback/feedback-img.png"
                    width="300"
                    height="200"
                    alt=""
                  />
                </div>
                <div class="feedback__contacts">
                  <a href=""
                    ><span>Телеграм</span
                    ><img src="./static/img/feedback/feedback-arrow.png" alt=""
                  /></a>
                  <a href=""
                    ><span>E-mail</span
                    ><img src="./static/img/feedback/feedback-arrow.png" alt=""
                  /></a>
                  <a href=""
                    ><span>Телефон</span
                    ><img src="./static/img/feedback/feedback-arrow.png" alt=""
                  /></a>
                </div>
              </div>
            </div>
            <div class="feedback__right-block">
              <form action="" class="feedback__form">
                <input
                  type="text"
                  class="feedback-form__input"
                  placeholder="Имя"
                />

                <input
                  type="text"
                  class="feedback-form__input"
                  placeholder="Телефон"
                />

                <input
                  type="text"
                  class="feedback-form__input"
                  placeholder="Электронная почта"
                />

                <textarea placeholder="Пара слов о задаче"></textarea>

                <button class="btn btn--feedback">Отправить</button>
              </form>
            </div>
          </div>
        </div>
      </section>

      <section class="subscribe">
        <div class="container">
          <div class="subscribe__content">
            <h2 class="subscribe__title">Подпишитесь на новости</h2>

            <form class="subscribe-form">
              <input
                type="email"
                class="subscribe-form__input"
                placeholder="Yourmail@mail.com"
              />
              <button class="btn btn--subscribe">Подписаться</button>
            </form>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="container">
        <nav class="nav nav--footer">
          <div class="nav__logo">
            <h2 class="logo logo--footer"><a href="#!">Фазои имконот</a></h2>
          </div>

          <ul class="nav__list nav__list--footer">
            <li><a href="#!" class="active">Главная</a></li>
            <li><a href="#!">Здравоохранение</a></li>
            <li><a href="#!">ИТ-решения</a></li>
            <li><a href="#!">Контакты</a></li>
          </ul>

          <ul class="nav__login nav__login--footer">
            <li><a href="#!">Регистрация</a></li>
            <li><a href="#!" class="btn btn--login">Войти</a></li>
          </ul>
        </nav>
      </div>
    </footer>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="./static/js/main.js"></script>
  </body>
</html>
